PORT=4000
JWT_SECRET=your_jwt_secret_here

# Development Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_db_password
DB_NAME=menu_website
BACKEND_URL=http://localhost:4000
FRONTEND_URL=http://localhost:5173

# Production Database Configuration
# DB_HOST=your_production_host
# DB_USER=your_production_user
# DB_PASSWORD=your_production_password
# DB_NAME=your_production_db_name
# BACKEND_URL=https://your-production-url.com
# FRONTEND_URL=https://your-frontend-url.com

SEED_ADMIN_EMAIL=admin@burgerhouse.com
SEED_ADMIN_PASSWORD=Admin123!
SEED_ADMIN_NAME=Store Admin
